<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="contador.piedras.jugger"
    android:installLocation="preferExternal"
    android:versionCode="28"
    android:versionName="3.0" >

    <uses-sdk
        android:minSdkVersion="11"
        android:targetSdkVersion="22" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:screenOrientation="portrait"
        android:theme="@style/Theme.AppCompat.Light.DarkActionBar" >
        <activity
            android:name="contador.piedras.jugger.MainActivity"
            android:label="@string/app_name"            
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="contador.piedras.jugger.AppPreferences"
            android:configChanges="locale|orientation"
            android:screenOrientation="portrait" 
            android:label="@string/app_name"/>
        
        <activity android:name="contador.piedras.jugger.Assit"
            android:configChanges="locale|orientation"
            android:screenOrientation="portrait" 
            android:label="@string/app_name"></activity>
    </application>

</manifest>